.edit_navigate{
    width:25% ;
}
.inputbasics{
    border-radius: 15px;
    border: 1px solid rgb(209, 209, 209);
    padding: 0px 0px 10px 0px;
}
.basicInfo_heading{
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgb(246,248,250);
    border-bottom: 1px solid rgb(209, 209, 209);
    font-weight: 600;
}
.input_basic_info{
    padding: 10px 10px 10px 20px;
    /* border-bottom: 1px solid rgb(209, 209, 209); */
}
.userImage img{
    width: 5rem;
    border-radius: 100%;
}
.image_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.image_container label{
    color: blue;
    cursor: pointer;
}
.input_container{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    gap: 7rem;
}
.name{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    width: 35%;
    padding: 5px;
    
}
.name_label{
    font-size: 11px;
    color: rgb(80, 80, 80);
}
.name_label span{
    color: red;
}
.name input{
    outline: none;
    border: none;
    font-family: "Sora";
}
.user_bio{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
    margin-top: 1rem;
}
.user_bio textarea{
    font-size: 1rem;
    font-family: "Sora";
    outline: none;
    border: none;
    resize: none;
}
.bio_description{
    margin-top: 3px;
    font-size: 12px;
    color: rgb(80, 80, 80);
}
.location_details{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
}
.website_details{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(209, 209, 209);
}
.save_button{
    font-family: "Sora";
    margin-top: 10px;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.tagInfo,.socialInfo{
    margin-top: 50px;
}
.social_link_input{
    margin-top: 1.5rem;
}
.social_link{
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
    position: relative;
    border-radius: 5px;
}
.social_link input{
    padding: 5px;
    border: none;
    outline: none;
    font-family: "Sora";
    font-size: 1rem;
}
.symbol i{
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 100%;
    margin-right: 10px;
}
.social_input_container{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
}