
.nav_menu{
    background-color: white;
    z-index: 100;
    position: fixed;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 1.5rem 3rem 1.25rem 3rem;
    right: 0;
    border-bottom: 1px solid #b9b9b9;
}
.nav_menu .nav_heading{
    font-size: 1.25rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.nav_menu .nav_login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 2rem; */
}
.nav_login .login{
    padding: 0.4rem 1rem 0.4rem 1rem;
    background: linear-gradient(140deg,#0d6ddf,#001ec1 80%);
    color: #fff;
    border-radius: 5px;
}
.nav_login .signup{
    padding: 0rem 1rem 0rem 1rem;
}